@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.font-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
  }
 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* position: absolute; */  
}
.banner{
    border: 2px dotted black;
    background-image: url('/assets/Hero-bg.png');
    /* position: absolute; */
    width: 1320px;
    height: 452px;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
nav h2{
    font-size: 28px;
   line-height: 33px;
}
nav a{
    text-decoration: none;
    border: 1px solid black;
    padding: 17px 24px 17px 24px;
    font-size: 20px;
    line-height: 23px;
    color: black;
    border-radius: 8px;

}
.banner_content{
    width: 998px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner_content h1{
    font-size: 48px;
    line-height: 60px;
    padding: 0 0;
    margin: 0 0;
  
}
.banner_content p{
    line-height: 25px;
}
.banner_content img{
    width: 70px;
    height: 55px;
    margin:0 auto;
}
.banner_content .btn{
    display: inline-block;
    border-radius: 8px;

background: rgb(13, 19, 33);
color: white;
padding: 10px 14px;
}
.mainBody{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(212, 206, 206);
    padding: 80px 97px 80px 97px;
    
}
/* Common title */
.commonTitle{
    
    text-align: center;
    margin: 0 auto;
    padding: 20px 70px;
}
.cardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 48px 70px;
}
.cardContent{
    width: 30%;
}
.cardContent h2{
    line-height: 35px;
}
.cardContent p{
    line-height: 23px;
}
.cardContent img{
    width: 30%;
}
.cardContent button{
    padding: 8px 10px;
}
/* Card container 2 */
.cardContainer2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.863);
    padding: 48px 70px;
}
.cardContent2{
    width: 70%;
    padding: 48px 70px;
}
.cardContent2 h2{
    line-height: 35px;
}
.cardContent2 p{
    line-height: 23px;
}
.cardContent2 img{
    width: 30%;
}
.cardContent2 button{
    padding: 8px 10px;
}